FileNameManager/.vs/FileNameManager/v16/.suo
FileNameManager/FileNameManager/bin/Debug/FileNameManager.exe
FileNameManager/FileNameManager/bin/Debug/FileNameManager.exe.config
FileNameManager/FileNameManager/bin/Debug/FileNameManager.pdb
FileNameManager/FileNameManager/bin/Release/FileNameManager.exe
FileNameManager/FileNameManager/bin/Release/FileNameManager.exe.config
FileNameManager/FileNameManager/bin/Release/FileNameManager.pdb
FileNameManager/FileNameManager/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
FileNameManager/FileNameManager/obj/Debug/FileNameManager.csproj.CoreCompileInputs.cache
FileNameManager/FileNameManager/obj/Debug/FileNameManager.csproj.FileListAbsolute.txt
FileNameManager/FileNameManager/obj/Debug/FileNameManager.csprojAssemblyReference.cache
FileNameManager/FileNameManager/obj/Debug/FileNameManager.exe
FileNameManager/FileNameManager/obj/Debug/FileNameManager.pdb
FileNameManager/FileNameManager/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
FileNameManager/FileNameManager/obj/Release/FileNameManager.csproj.CoreCompileInputs.cache
FileNameManager/FileNameManager/obj/Release/FileNameManager.csproj.FileListAbsolute.txt
FileNameManager/FileNameManager/obj/Release/FileNameManager.csprojAssemblyReference.cache
FileNameManager/FileNameManager/obj/Release/FileNameManager.exe
FileNameManager/FileNameManager/obj/Release/FileNameManager.pdb
